<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/home.css")
    title #{title}
    script(src="https://www.google.com/recaptcha/api.js")
    
  body
    main
      nav
        div
          img.icon(src="/images/railways.png", alt="indian railways image")
        ul#navdiv1
          li 
            a(href="/contact") Contact Us
          li 
            a(href="/user/login") Login
          li
            a(href="/user/register") Register
          li
            img.icon(src="/images/irctc_icon.jpeg", alt="IRCTC icon")
        ul#navdiv2
          li 
            a(href="javascript:gettopost(this,'/user/profile')") profile
          li 
            a(href="/contact") Contact Us
          li 
            a(href="javascript:logout(this)") Log Out
          li
            img.icon(src="/images/irctc_icon.jpeg", alt="IRCTC icon")
      div
        form#token_submit(action="/user/profile", method="post")
          input(type="hidden", name="token" value="")
        block content