extends layout

block content
  h1=title
  form#login_form(action="javascript:login_form_submit(this)")
    label(for="email") Email ID : 
    input#email(type="email", name="email" value="1sanokhello@gmail.com")
    label(for="password") Password : 
    input#password(type="text", name="password" value="0147258369")
    div
    div.g-recaptcha(data-sitekey="6LdMetIUAAAAALN5cER-Dg7G1dF64-CFHG1F73zW")
    div
    input(type="submit", value="Login")

  if errors
    h1 Errors : 
    ul
      each error in errors
        li=error.msg

  if user_error
    h1 Error : username or password incorrect

  script(src="/javascripts/user_auth.js")