extends layout

block content
  h1=title
  form#register_form(action="/user/register/", method="post")
    label(for="f_name") First Name : 
    input#f_name(type="text", name="f_name",value=(user===undefined?"":user.f_name))

    label(for="l_name") Last Name : 
    input#l_name(type="text", name="l_name",value=(user===undefined?"":user.l_name))

    label(for="username") Username : 
    input#username(type="text", name="username",value=(user===undefined?"":user.username))

    label(for="dob") Date of Birth : 
    input#dob(type="date", name="dob",value=(user===undefined?"":user.dob))

    label(for="password") Password : 
    input#password(type="password", name="password")

    label(for="email") Email : 
    input#email(type="email", name="email",value=(user===undefined?"":user.email))

    label(for="mobile") Mobile Number : 
    input#mobile(type="text", name="mobile",value=(user===undefined?"":user.mobile))

    label(for="gender") Gender :
    select#gender(name="gender")
      option(value="" selected=(user===undefined?"selected":"") disabled) Select your Gender
      option(value="M" selected=(user===undefined?"":"selected")) Male
      option(value="F" selected=(user===undefined?"":"selected")) Female
      option(value="O" selected=(user===undefined?"":"selected")) Others
    if profile!=1
      input(type="submit", value="Register")
  br
  br
  div#errors
    if user_error==1
      h1 Errors : 
      p User already exists
    if errors
      h1 Errors : 
      ul
        each error in errors
          li=error.msg